td {
    width: 16px;
    height: 16px;
}

.panel-piece {
    font-size: 0px;
    background-image: url("../images/sprite.gif");
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    margin: -2px;
    background-repeat: no-repeat;
}

    .panel-piece.closed {
        background-position: 0px -39px;
    }

    .panel-piece.empty {
        background-position: 0px -23px;
    }

    .panel-piece.nearby-1 {
        background-position: -16px -23px;
    }

    .panel-piece.nearby-2 {
        background-position: -32px -23px;
    }

    .panel-piece.nearby-3 {
        background-position: -48px -23px;
    }

    .panel-piece.nearby-4 {
        background-position: -64px -23px;
    }

    .panel-piece.nearby-5 {
        background-position: -80px -23px;
    }

    .panel-piece.nearby-6 {
        background-position: -96px -23px;
    }

    .panel-piece.nearby-7 {
        background-position: -112px -23px;
    }

    .panel-piece.nearby-8 {
        background-position: -128px -23px;
    }

    .panel-piece.banner {
        background-position: -16px -39px;
    }

    .panel-piece.bomb {
        background-position: -64px -39px;
    }

.smile {
    background-image: url("../images/sprite.gif");
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
    background-repeat: no-repeat;
}

    .smile.reset {
        background-position: 0px -55px;
    }

    .smile.oooh {
        background-position: -52px -55px;
    }

    .smile.lose {
        background-position: -78px -55px;
    }

    .smile.win {
        background-position: -104px -55px;
    }
